body {
    font-family: Arial, sans-serif;
}
p {
    font-family: "Fustat", serif;
}
.navbar {
    height: 70px;
    border-bottom: black 1.5px solid;
    margin-top: 17px;
    margin-bottom: 12px;
}
.navbar .navbar-nav .logo {
    font-size: 1.9rem;
    font-weight: bold;
}
.navbar .logo a {
    font-family: "Fustat", serif;
}
.portfolio-title {
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: "Passion One", serif;
    font-size: 88px;
}
.category-menu {
    text-align: center;
    margin-bottom: 2rem;
}
.category-menu button {
    font-family: "Fustat", serif;
    border: none;
    background: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}
.category-menu button {
    color: #F58232;
}
.category-menu button.active {
    color: #F58232;
    font-weight: bold;
}
.photo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 195px;
    grid-auto-rows: 227px; 
    gap: 20px;
    padding: 0 15px;
    margin-bottom: 20px;
}

.grid-item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mini {
    width: 100%;
    height: 100%;
}

.tall {
    width: 100%;
    height: 100%;
    grid-row: span 2;
}

.wide {
    width: 100%;
    height: 100%;
    grid-column: span 2;
}
.special_1 {
    width: 100%;
    grid-column: span 1;
}
.special_2 {
    width: 100%;
    grid-column: span 3;
}

.large {
    height: 100%;
    grid-row: span 3; 
    height: 100%;
}